input {
  background: black;
  color: white;
  width: 396px;
  height: 100px;
  font-size: 60px;
  border: 1px solid darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

::placeholder {
  color: white;
  text-align: right;
  padding: 10px;
  font-weight: 300;
}