/* All styles for your Card Components live here */

.card-container {
  margin-left: 100px;
}
.card-banner {
  background-image: url('./reactbackground.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 0 20px 20px 20px;;
  border: 1px solid lightgrey;
  border-radius: 0 0 10px 10px;
}

.card-content h4 {
  margin-bottom: 0;
}
.card-content p {
  margin-top: 5px;
}


.card-content a {
  text-decoration: none;
  color: darkgrey;
  margin-bottom: 20px
}
